{% extends 'main/base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'groups/js/build.js' %}"></script>
    <script type="text/javascript" src="{% static 'groups/js/groups.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Gruppen
        <a href="" data-bs-toggle="modal" data-bs-target="#modalNewGroup">
            <img style="float: right" src="{% static "main/pictures/bootstrap_icons/plus-circle-fill.svg" %}"
                 height="50" alt="">
        </a>
    </h1>

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div id="group-list" class="row gx-4 gx-lg-5 row-cols-1 row-cols-xl-4 justify-content-center">

                <!-- ModalGroup -->

                <div class="modal fade" id="group-control-modal"
                     onblur="saveGroupDataToLocalStorage(document.getElementById('group-control-modal').dataset['groupId'])"
                     tabindex="-1" aria-labelledby="group-control-modal-label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">

                            <div class="modal-header text-center" id="group-control-modal-header">
                                <h5 class="modal-title" id="group-control-modal-label">Group name unknown</h5>
                                <div class="text-center">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" style="transform: scale(1.8)" type="checkbox"
                                               id="group-control-modal-switch">
                                    </div>
                                </div>
                                <input type="image" src="{% static "main/pictures/bootstrap_icons/pencil-square.svg" %}" onclick="document.getElementById('modal-body-edit').hidden = false; document.getElementById('modal-body-normal').hidden = true" height="35" alt="">
                            </div>

                            <div class="modal-body text-center" id="modal-body-edit" hidden>
                                <table class="table table-borderless" style="border-collapse: separate; border-spacing: 0 20px">
                                    <tbody>
                                        <tr>
                                            <td><input type="image" id="collection.svg" src="{% static "main/pictures/bootstrap_icons/collection.svg" %}" height="75" alt="" style="border-style: solid; padding: 5px" onclick="getIconId(this.id)"></td>
                                            <td><input type="image" id="house.svg" src="{% static "main/pictures/bootstrap_icons/house.svg" %}" height="75" alt="" style="border-style: solid; padding: 5px" onclick="getIconId(this.id)"></td>
                                            <td><input type="image" id="controller.svg" src="{% static "main/pictures/bootstrap_icons/controller.svg" %}" height="75" alt="" style="border-style: solid; padding: 5px" onclick="getIconId(this.id)"></td>
                                        </tr>
                                        <tr>
                                            <td><input type="image" id="archive.svg" src="{% static "main/pictures/bootstrap_icons/archive.svg" %}" height="75" alt="" style="border-style: solid; padding: 5px" onclick="getIconId(this.id)"></td>
                                            <td><input type="image" id="book.svg" src="{% static "main/pictures/bootstrap_icons/book.svg" %}" height="75" alt="" style="border-style: solid; padding: 5px" onclick="getIconId(this.id)"></td>
                                            <td><input type="image" id="wrench.svg" src="{% static "main/pictures/bootstrap_icons/wrench.svg" %}" height="75" alt="" style="border-style: solid; padding: 5px" onclick="getIconId(this.id)"></td>
                                        </tr>
                                        <tr>
                                            <td><input type="image" id="brezel.png" src="{% static "main/pictures/bootstrap_icons/brezel.png" %}" height="75" alt="" style="border-style: solid; padding: 5px" onclick="getIconId(this.id)"></td>
                                            <td><input type="image" id="plugin.svg" src="{% static "main/pictures/bootstrap_icons/plugin.svg" %}" height="75" alt="" style="border-style: solid; padding: 5px" onclick="getIconId(this.id)"></td>
                                            <td><input type="image" id="robot.svg" src="{% static "main/pictures/bootstrap_icons/robot.svg" %}" height="75" alt="" style="border-style: solid; padding: 5px" onclick="getIconId(this.id)"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="btn mt-5" id="saveIcon" style="background-color: var(--tertiary-color)" onclick="saveIcon()">Speichern</button>
                            </div>

                            <div class="modal-body text-center" id="modal-body-normal">
                                <h6>Geräte:</h6>
                                <ul class="list-group" id="group-control-device-list">
{#                                    <li class="list-group-item">#}
{#                                        <div class="container text-center">#}
{#                                            <div class="row">#}
{#                                                <div class="col-3">#}
{#                                                    <img src="{% static "main/pictures/bootstrap_icons/lamp-fill.svg" %}"#}
{#                                                         height="25" alt="">#}
{#                                                </div>#}
{#                                                <div class="col-6">#}
{#                                                    Lampe 1#}
{#                                                </div>#}
{#                                                <div class="col-3">#}
{#                                                    <div class="form-check form-switch d-flex justify-content-center">#}
{#                                                        <input class="form-check-input" type="checkbox"#}
{#                                                               id="switch1InGroup">#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </li>#}
{#                                    <li class="list-group-item">#}
{#                                        <div class="container text-center">#}
{#                                            <div class="row">#}
{#                                                <div class="col-3">#}
{#                                                    <img src="{% static "main/pictures/bootstrap_icons/lamp-fill.svg" %}"#}
{#                                                         height="25" alt="">#}
{#                                                </div>#}
{#                                                <div class="col-6">#}
{#                                                    Lampe 2#}
{#                                                </div>#}
{#                                                <div class="col-3">#}
{#                                                    <div class="form-check form-switch d-flex justify-content-center">#}
{#                                                        <input class="form-check-input" type="checkbox"#}
{#                                                               id="switch2InGroup">#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </li>#}
{#                                    <li class="list-group-item">#}
{#                                        <div class="container text-center">#}
{#                                            <div class="row">#}
{#                                                <div class="col-3">#}
{#                                                    <img src="{% static "main/pictures/bootstrap_icons/outlet.svg" %}"#}
{#                                                         height="25" alt="">#}
{#                                                </div>#}
{#                                                <div class="col-6">#}
{#                                                    Plug 1#}
{#                                                </div>#}
{#                                                <div class="col-3">#}
{#                                                    <div class="form-check form-switch d-flex justify-content-center">#}
{#                                                        <input class="form-check-input" type="checkbox"#}
{#                                                               id="switch3InGroup">#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </li>#}
                                </ul>
                                <div style="display: flex; justify-content: center; align-items: center; margin-top: 50px"
                                     id="group-control-modal-colorpicker"></div>
                                <br>
                                <label for="group-control-modal-brightness" class="form-label">Helligkeit <p
                                        id="group-control-modal-brightness-display"></p></label>
                                <input type="range" class="form-range" min="0" max="100"
                                       id="group-control-modal-brightness" value="{{ disclaimer }}"/>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- modalNewGroup -->
                <div class="modal fade" id="modalNewGroup" tabindex="-1" aria-labelledby="modalNewGroupLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h5 class="modal-title" style="margin: auto" id="modalNewGroupLabel">Neue Gruppe
                                    erstellen</h5>
                            </div>
                            <div class="modal-body text-center">
                                <label for="inputGroupName" class="form-label">Name</label>
                                <input style="" type="text" id="inputGroupName" class="form-control"
                                       aria-describedby="inputGroupName">

                                <table class="table table-borderless" style="border-collapse: separate; border-spacing: 0 20px">
                                    <tbody>
                                        <tr>
                                            <td><input type="image" id="tmp_collection.svg" src="{% static "main/pictures/bootstrap_icons/collection.svg" %}" height="75" alt="" style="border-style: solid; padding: 5px" onclick="setIcon(this.id)"></td>
                                            <td><input type="image" id="tmp_house.svg" src="{% static "main/pictures/bootstrap_icons/house.svg" %}" height="75" alt="" style="border-style: solid; padding: 5px" onclick="setIcon(this.id)"></td>
                                            <td><input type="image" id="tmp_controller.svg" src="{% static "main/pictures/bootstrap_icons/controller.svg" %}" height="75" alt="" style="border-style: solid; padding: 5px" onclick="setIcon(this.id)"></td>
                                        </tr>
                                        <tr>
                                            <td><input type="image" id="tmp_archive.svg" src="{% static "main/pictures/bootstrap_icons/archive.svg" %}" height="75" alt="" style="border-style: solid; padding: 5px" onclick="setIcon(this.id)"></td>
                                            <td><input type="image" id="tmp_book.svg" src="{% static "main/pictures/bootstrap_icons/book.svg" %}" height="75" alt="" style="border-style: solid; padding: 5px" onclick="setIcon(this.id)"></td>
                                            <td><input type="image" id="tmp_wrench.svg" src="{% static "main/pictures/bootstrap_icons/wrench.svg" %}" height="75" alt="" style="border-style: solid; padding: 5px" onclick="setIcon(this.id)"></td>
                                        </tr>
                                        <tr>
                                            <td><input type="image" id="tmp_brezel.png" src="{% static "main/pictures/bootstrap_icons/brezel.png" %}" height="75" alt="" style="border-style: solid; padding: 5px" onclick="setIcon(this.id)"></td>
                                            <td><input type="image" id="tmp_plugin.svg" src="{% static "main/pictures/bootstrap_icons/plugin.svg" %}" height="75" alt="" style="border-style: solid; padding: 5px" onclick="setIcon(this.id)"></td>
                                            <td><input type="image" id="tmp_robot.svg" src="{% static "main/pictures/bootstrap_icons/robot.svg" %}" height="75" alt="" style="border-style: solid; padding: 5px" onclick="setIcon(this.id)"></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <button type="button" style="margin-top: 25px; background-color: var(--tertiary-color)" class="btn" id="createGroup" onclick="createGroup()">
                                    Erstellen
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


{% endblock %}

