{% extends 'main/base.html' %}
{% load static %}

{% block css %}

    .form-check-input{
        transform: scale(1.8);
    }

{% endblock %}



{% block content %}
    <h1>Regeln
        <a href="" data-bs-toggle="modal" data-bs-target="#modalNewRule">
            <img style="float: right" src="{% static "main/pictures/bootstrap_icons/plus-circle-fill.svg" %}" height="50" alt="">
        </a>
    </h1>

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-xl-2 justify-content-center">

                <!-- 1. Regel -->
                <div class="col mb-5">
                    <div class="card h-100" style="box-shadow: 0px 6px 17px 2px rgba(38,38,38,0.79)">
                        <div class="card-body p-4 text-center" style="transform: rotate(0);">
                            <h5 class="fw-bolder mb-3 mt-2">Regel 1</h5>
                            <span id="savedTimeRule1"></span>
                            <p id="savedDays1"></p>
                            <a href="" class="stretched-link" data-bs-toggle="modal" data-bs-target="#ruleModal1"></a>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <div class="form-check form-switch d-flex justify-content-center">
                                    <input class="form-check-input" type="checkbox" id="switch1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 2. Regel -->
                <div class="col mb-5">
                    <div class="card h-100" style="box-shadow: 0px 6px 17px 2px rgba(38,38,38,0.79)">
                        <div class="card-body p-4" style="transform: rotate(0);">

                        </div>
                    </div>
                </div>

                <!-- ruleModal1 -->

                <div class="modal fade" id="ruleModal1" tabindex="-1" aria-labelledby="ruleModal1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header text-center" id="modalHeader1">
                                <h5 class="modal-title" id="testModalLabel">Regel 1</h5>
                            </div>
                            <div class="modal-body text-center align-items-center">
                                <input type="text" style="width: 25%; margin: auto" class="form-control text-center" id="input" value="Uhrzeit auswählen">
                                <div class="d-flex justify-content-between" style="margin-top: 25px;">
                                    <span>Wiederholen</span>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" style="" type="checkbox" id="checkboxRepeatRule1">
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between" style="margin-top: 25px;">
                                    <input type="checkbox" class="btn-check" id="checkMonday" autocomplete="off">
                                    <label class="btn btn-outline-primary rounded-circle" for="checkMonday">M</label>
                                    <input type="checkbox" class="btn-check" id="checkTuesday" autocomplete="off">
                                    <label class="btn btn-outline-primary rounded-circle" for="checkTuesday">D</label>
                                    <input type="checkbox" class="btn-check" id="checkWednesday" autocomplete="off">
                                    <label class="btn btn-outline-primary rounded-circle" for="checkWednesday">M</label>
                                    <input type="checkbox" class="btn-check" id="checkThursday" autocomplete="off">
                                    <label class="btn btn-outline-primary rounded-circle" for="checkThursday">D</label>
                                    <input type="checkbox" class="btn-check" id="checkFriday" autocomplete="off">
                                    <label class="btn btn-outline-primary rounded-circle" for="checkFriday">F</label>
                                    <input type="checkbox" class="btn-check" id="checkSaturday" autocomplete="off">
                                    <label class="btn btn-outline-primary rounded-circle" for="checkSaturday">S</label>
                                    <input type="checkbox" class="btn-check" id="checkSunday" autocomplete="off">
                                    <label class="btn btn-outline-primary rounded-circle" for="checkSunday">S</label>

                                </div>
                                <div class="d-flex justify-content-between" style="margin-top: 25px;">
                                    <button type="button" class="btn btn-outline-primary" style="width: auto" data-bs-dismiss="modal">Abbrechen</button>
                                    <button type="button" class="btn btn-outline-primary" style="width: auto" id="saveRule" data-bs-dismiss="modal">Speichern</button>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

<script type="text/javascript" src="{% static 'rules/js/rules.js' %}"></script>
{% endblock %}