{% load static %}
<div id="device-{{ id }}" onclick="loadDeviceDataToModal({{ id }})" class="col mb-5" data-name="{{ name }}" data-has-color="{{ has_color }}">
    <div class="card h-100" style="background-color: var(--tertiary-color); box-shadow: 0px 6px 17px 2px rgba(38,38,38,0.79)">
        <div class="card-body p-4" style="transform: rotate(0);">
            <div class="text-center">
                <img src="{% static "main/pictures/bootstrap_icons/lamp-fill.svg" %}" height="50" alt="">
                <h5 class="fw-bolder mb-3 mt-2">{{ name }}</h5>
                <a href="" class="stretched-link" data-bs-toggle="modal" data-bs-target="#device-control-modal"></a>
            </div>
        </div>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
                <div class="form-check form-switch d-flex justify-content-center">
                    <input class="form-check-input" type="checkbox" id="switchLight-{{ id }}">
                </div>
            </div>
        </div>
    </div>
</div>