{% extends 'main/base.html' %}
{% load static %}

{% block css %}

    .form-check-input{
        transform: scale(1.8);
    }

{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'rules/js/build.js' %}"></script>
    <script type="text/javascript" src="{% static 'rules/js/rules.js' %}"></script>
{% endblock %}



{% block content %}
    <h1>Regeln
        <a href="" data-bs-toggle="modal" data-bs-target="#modalNewRule" onclick="set_background_color_transparend();">
            <img style="float: right" src="{% static "main/pictures/bootstrap_icons/plus-circle-fill.svg" %}" height="50" alt="">
        </a>
    </h1>

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div id="rule-list" class="row gx-4 gx-lg-5 row-cols-1 row-cols-xl-4 justify-content-center">

                <!-- ruleModal1 -->

                <div class="modal fade" id="rule-control-modal" tabindex="-1" aria-labelledby="ruleModal1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header text-center" id="modalHeader1">
                                <h5 class="modal-title" id="testModalLabel">Regel 1</h5>
                            </div>
                            <div class="modal-body text-center align-items-center">
                                <div class="d-flex justify-content-between" style="margin-top: 25px; margin-bottom: 25px;">
                                    <input type="checkbox" class="btn-check" id="checkGroup1" autocomplete="off">
                                    <label class="btn btn-outline-success " for="checkGroup1">Gruppe 1</label>
                                    <input type="checkbox" class="btn-check" id="checkLight1" autocomplete="off">
                                    <label class="btn btn-outline-success " for="checkLight1">Lampe 1</label>
                                    <input type="checkbox" class="btn-check" id="checkPlug1" autocomplete="off">
                                    <label class="btn btn-outline-success " for="checkPlug1">Steckdose 1</label>
                                    <input type="checkbox" class="btn-check" id="checkLight2" autocomplete="off">
                                    <label class="btn btn-outline-success " for="checkLight2">Lampe 2</label>
                                </div>

                                    <input type="text" style="width: 25%; margin: auto" class="form-control text-center" id="input" value="Uhrzeit auswählen">

                                <div class="d-flex justify-content-between" style="margin-top: 25px;">
                                    <span>Wiederholen</span>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" style="" type="checkbox" id="checkboxRepeatRule">
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between" style="margin-top: 25px;">
                                    <input type="checkbox" class="btn-check" id="checkMonday" autocomplete="off" disabled>
                                    <label class="btn btn-outline-success rounded-circle" for="checkMonday">M</label>
                                    <input type="checkbox" class="btn-check" id="checkTuesday" autocomplete="off" disabled>
                                    <label class="btn btn-outline-success rounded-circle" for="checkTuesday">D</label>
                                    <input type="checkbox" class="btn-check" id="checkWednesday" autocomplete="off" disabled>
                                    <label class="btn btn-outline-success rounded-circle" for="checkWednesday">M</label>
                                    <input type="checkbox" class="btn-check" id="checkThursday" autocomplete="off" disabled>
                                    <label class="btn btn-outline-success rounded-circle" for="checkThursday">D</label>
                                    <input type="checkbox" class="btn-check" id="checkFriday" autocomplete="off" disabled>
                                    <label class="btn btn-outline-success rounded-circle" for="checkFriday">F</label>
                                    <input type="checkbox" class="btn-check" id="checkSaturday" autocomplete="off" disabled>
                                    <label class="btn btn-outline-success rounded-circle" for="checkSaturday">S</label>
                                    <input type="checkbox" class="btn-check" id="checkSunday" autocomplete="off" disabled>
                                    <label class="btn btn-outline-success rounded-circle" for="checkSunday">S</label>

                                </div>
                                <div class="d-flex justify-content-between" style="margin-top: 25px;">
                                    <button type="button" class="btn btn-outline-success" style="width: auto" data-bs-dismiss="modal">Abbrechen</button>
                                    <button type="button" class="btn btn-outline-success" style="width: auto" id="saveRule" data-bs-dismiss="modal">Speichern</button>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- modal-new-rule -->
                <div class="modal fade" id="modalNewRule" tabindex="-1" aria-labelledby="modalNewRuleLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h5 class="modal-title" style="margin: auto" id="modalNewGroupLabel">Neue Regel
                                    erstellen</h5>
                            </div>
                            <div class="modal-body text-center">
                                <label for="inputRuleName" class="form-label">Name</label>
                                <input style="" type="text" id="inputRuleName" class="form-control"
                                       aria-describedby="inputRuleName">
                                <h6 style="margin-top: 25px;">Gerät oder Gruppe auswählen:</h6>
                                <ul class="list-group" id="new-rule-device-list">
                                </ul>
                                <label for="inputTimeNewRule" style="margin-top: 25px;">Uhrzeit auswählen:</label>
                                <input type="text" style="width: 25%; margin: auto;" class="form-control text-center" id="inputTimeNewRule" value="Uhrzeit auswählen">
                                
                                <div class="d-flex justify-content-between" style="margin-top: 25px;">
                                    <span>Wiederholen</span>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" style="" type="checkbox" id="checkboxRepeatNewRule">
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between" style="margin-top: 25px;">
                                                       
                                    <input type="image" id="checkNewRuleMonday" src="{% static "main/pictures/bootstrap_icons/m-solid.svg" %}" height="50" 
                                    width="50" alt="" style="border: 1px solid; border-radius: 10px; padding: 5px" disabled onclick="set_background_color(this.id)">
                                    <input type="image" id="checkNewRuleTuesday" src="{% static "main/pictures/bootstrap_icons/t-solid.svg" %}" height="50" 
                                    width="50" alt="" style="border: 1px solid; border-radius: 10px; padding: 5px" disabled onclick="set_background_color(this.id)">
                                    <input type="image" id="checkNewRuleWednesday" src="{% static "main/pictures/bootstrap_icons/w-solid.svg" %}" height="50" 
                                    width="50" alt="" style="border: 1px solid; border-radius: 10px; padding: 5px" disabled onclick="set_background_color(this.id)">
                                    <input type="image" id="checkNewRuleThursday" src="{% static "main/pictures/bootstrap_icons/t-solid.svg" %}" height="50" 
                                    width="50" alt="" style="border: 1px solid; border-radius: 10px; padding: 5px" disabled onclick="set_background_color(this.id)">
                                    <input type="image" id="checkNewRuleFriday" src="{% static "main/pictures/bootstrap_icons/f-solid.svg" %}" height="50" 
                                    width="50" alt="" style="border: 1px solid; border-radius: 10px; padding: 5px" disabled onclick="set_background_color(this.id)">
                                    <input type="image" id="checkNewRuleSaturday" src="{% static "main/pictures/bootstrap_icons/s-solid.svg" %}" height="50" 
                                    width="50" alt="" style="border: 1px solid; border-radius: 10px; padding: 5px" disabled onclick="set_background_color(this.id)">
                                    <input type="image" id="checkNewRuleSunday" src="{% static "main/pictures/bootstrap_icons/s-solid.svg" %}" height="50" 
                                    width="50" alt="" style="border: 1px solid; border-radius: 10px; padding: 5px" disabled onclick="set_background_color(this.id)">

                                </div>

                                <button type="button" style="margin-top: 25px; background-color: var(--tertiary-color)" class="btn" id="createNewRule" onclick="createNewRule()">
                                    Erstellen
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


{% endblock %}
