{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <style type="text/css">
    body {
    background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
    h1{
    padding-left: 40px;
    padding-right: 40px;
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 150px 0 0;
    /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 100%);
    width: 240px;
    z-index: 600;
}

.navbar {

    box-shadow: 5px 0 5px 0 black;


}
@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}
    {% block css %} {% endblock %}

    </style>



    <title>{% block title %}Default{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/picker.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">



    <script type="text/javascript" src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/iro.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/picker.min.js' %}"></script>




    {% block js %} {% endblock %}
</head>
<body>

   <!--Main Navigation-->
    <header>
      <!-- Sidebar -->
      <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-light">
        <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-4">
            <a href="/" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
              <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
            </a>
            <a href="/devices/" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-chart-area fa-fw me-3"></i><span>Geräte</span>
            </a>
            <a href="/rooms/" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-lock fa-fw me-3"></i><span>Räume</span></a>
            <a href="/groups/" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-chart-line fa-fw me-3"></i><span>Gruppen</span></a>
            <a href="/scenes/" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-chart-pie fa-fw me-3"></i><span>Szenen</span>
            </a>
            <a href="/rules/" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-chart-bar fa-fw me-3"></i><span>Regeln</span></a>
            <a href="/activities/" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-globe fa-fw me-3"></i><span>Aktivitäten</span></a>
            <a href="/settings/" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-building fa-fw me-3"></i><span>Einstellungen</span></a>
          </div>
        </div>
      </nav>
      <!-- Sidebar -->

      <!-- Navbar -->
      <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
          <!-- Toggle button -->
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <img src="{% static "main/pictures/bootstrap_icons/list.svg" %}" height="50" alt="">
          </button>

          <!-- Brand -->
          <a class="navbar-brand" href="/">
              <span class="d-none d-lg-inline-block ml-1">
                  <img src="{% static "main/pictures/logo_temp.png" %}" height="100" alt="">
              </span>
          </a>

        <!-- Center links -->
        <ul class="navbar-nav mx-auto d-flex flex-row">
            <li class="nav-item me-lg-0">
                <span class="d-none d-lg-inline-block ml-1">
                Wetter morgen
                <img src="{% static "main/pictures/bootstrap_icons/cloud-sun-fill.svg" %}" height="50" alt="">
                </span>
            </li>
            <li class="nav-item me-lg-0 ms-5">
                <div class="clock d-none d-lg-inline-block ml-1">
                    <p id="datum">
                    <p id="uhrzeit">
                    <script type="text/javascript" src="{% static 'main/js/clock.js' %}"></script>
                </div>
            </li>
        </ul>
          <!-- Right links -->
          <ul class="navbar-nav ms-auto d-flex flex-row">

            <!-- Notification dropdown -->
              <li class="nav-item">
                <a class="nav-link me-3 me-lg-0 " href="/settings">
                      <img src="{% static "main/pictures/bootstrap_icons/gear-fill.svg" %}" height="50" alt="">
                </a>
            </li>
              <li class="nav-item">
              <a class="nav-link me-3 me-lg-0 " href="#">
                      <img src="{% static "main/pictures/bootstrap_icons/bell-fill.svg" %}" height="50" alt="">
              </a>
            </li>


            <!-- Avatar -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{% static "main/pictures/bootstrap_icons/person-circle.svg" %}" class="rounded-circle" height="50" alt="" loading="lazy" />
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="/accounts/password_change">Kennwort ändern</a></li>
                    <li><a class="dropdown-item" href="/accounts/logout">Logout</a></li>
                {% else %}
                    <li><a class="dropdown-item" href="/accounts/login">Login</a></li>
                    <li><a class="dropdown-item" href="/register/">Register</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>
        <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main style="margin-top: 150px">
      <div class="container pt-4">

            {% block content %}
                No content here.
            {% endblock %}
      </div>
    </main>
    <!--Main layout-->
    {% block script %}

    {% endblock %}
    <!--Test Color-Picker

    -->
<script>
    var csrftoken = '{{ csrf_token }}';
</script>
</body>
</html>