{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    /* The actual timeline (the vertical ruler) */
    .timeline {
      position: relative;
      max-width: 1200px;
      margin: 0 auto;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline::after {
      content: '';
      position: absolute;
      width: 6px;
      background-color: #343DF4;
      top: 0;
      bottom: 0;
      left: 31px;
      margin-left: -3px;

    }

    /* Container around content */
    .containerbox {
      padding: 10px 40px;
      position: relative;
      background-color: inherit;
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }

    /* The circles on the timeline */
    .containerbox::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      right: -17px;
      background-color: #343DF4;
      border: 4px solid #F5814C;
      top: 18px;
      border-radius: 50%;
      z-index: 1;
    }



    /* Place the container to the right */
    .right {
      left: 50%;
    }



    /* Add arrows to the right container (pointing left) */
    .right::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      left: 30px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent #F5814C transparent transparent;
    }

    /* Fix the circle for containers on the right side */
    .right::after {
      left: -16px;
    }

    /* The actual content */
    .content {
      padding: 10px 30px;
      background-color: #F5814C;
      position: relative;
      border-radius: 6px;
    }


      /* Make sure that all arrows are pointing leftwards */
      .containerbox::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent #F5814C transparent transparent;
      }

      /* Make sure all circles are at the same spot */
      .left::after, .right::after {
      left: 18px;
      }

      /* Make all right containers behave like the left ones */
      .right {
      left: 0%;
      }

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'main/js/dashboard/dashboard.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/dashboard/build.js' %}"></script>
{% endblock %}

{% block content %}

    <h1>Dashboard</h1>
    <div class="container">
        <div class="row d-flex">
            <div class="col-xl-8">
                <div class="container">
                    
                    <div class="row border mt-4">
                        <div class="col"><h3>Gerätefavoriten</h3></div>
                        <p id="favoritedevices"></p>
                        <div class="container px-4 px-lg-5 mt-5">
                            <div id="device-list" class="row gx-4 gx-lg-5 row-cols-1 row-cols-xl-3 justify-content-center">
                                <div class="modal fade" id="device-control-modal"
                                 onblur="saveDeviceDataToLocalStorage(document.getElementById('device-control-modal').dataset['deviceId'])"
                                 tabindex="-1"
                                 aria-labelledby="device-control-modal-label" data-device-id="unknown" data-device-name="unknown"
                                >
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header text-center" id="device-control-modal-header">
                                            <h5 class="modal-title" id="device-control-modal-label">Lamp name unknown</h5>

                                            <div class="text-center">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" style="transform: scale(1.8)" type="checkbox"
                                                           id="device-control-modal-switch">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-body text-center">
                                            <div>
                                                <input type="checkbox" class="btn-check" id="deviceToFav" autocomplete="off">
                                                <label class="btn" id="deviceToFavLabel" style="border-color: black" for="deviceToFav"><img src="{% static "main/pictures/bootstrap_icons/star.svg" %}" height="25" alt=""><p id="deviceToFavText">Zu Favoriten hinzufügen</p></label>
                                            </div>
                                            <div style="display: flex; justify-content: center; align-items: center; padding-top: 25px"
                                                 id="device-control-modal-colorpicker"></div>
                                            <br>
                                            <label for="device-control-modal-brightness" class="form-label">Helligkeit <p
                                                    id="device-control-modal-brightness-display"></p></label>
                                            <input type="range" class="form-range" min="0" max="100"
                                                   id="device-control-modal-brightness"
                                                   value="{{ disclaimer }}"/>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="container">
                    <div class="row border">
                        <div class="col">
                            <h2>Letzte Aktivitäten</h2>
                            <div class="timeline">
                              <div class="containerbox right">
                                <div class="content">
                                  <h4>{{ timestamp0 }}</h2>
                                  <p>{{ message0 }}</p>
                                </div>
                              </div>
                              <div class="containerbox right">
                                <div class="content">
                                  <h4>{{ timestamp1 }}</h2>
                                <p>{{ message1 }}</p></div>
                              </div>
                              <div class="containerbox right">
                                <div class="content">
                                  <h4>{{ timestamp2 }}</h2>
                                <p>{{ message2 }}</p></div>
                              </div>

                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>


{% endblock %}
